handle: ''
password: ''
hostname: ''
feeds:
  random_from_follows:
    record_name: 'chaos'
    uri: ''
    display_name: 'Random From Follows'
    description: 'Random collection of posts from people you follow, from the last 12 hours.'
    avatar_path: './dice.png'
